.app {
  border: 1px solid #6c757d;
  margin-top: 20px;
  padding: 20px 40px;
}

button {
  width: 140px;
}

.upload-box {
  border: 1px solid grey;
  border-radius: 30px;
  overflow: hidden;
  padding: 20px 10px 20px 30px;
  margin-bottom: 30px;
}

.image {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid grey;
}

.btn-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.slide-box {
  border: 1px solid grey;
  border-radius: 30px;
  padding: 60px 10px 10px 30px;
  display: flex;
  justify-content: center;
}

.col {
  display: flex;
  justify-content: center;
}