<template>
  <div class="container">
    <div class="app">
      <div class="d-flex flex-column gap-3">
        <button class="btn btn-outline-secondary">
          Add
        </button>
        <button class="btn btn-outline-secondary" @click="removeAll">
          Remove all
        </button>
      </div>

      <div class="d-flex justify-content-center mb-3">
        <div>
          <div class="d-flex align-items-center mb-2">
            <input
                type="radio"
                id="grid"
                name="radio"
                value="grid"
                @change="showGrid"
                checked
            >
            <label for="grid" class="ms-2">Grid</label>
          </div>
          <div class="d-flex align-items-center">
            <input
                type="radio"
                id="slide"
                name="radio"
                value="slide"
                @change="showSlide"
            >
            <label for="slide" class="ms-2">Slide</label>
          </div>
        </div>
      </div>
      <div class="upload-box">
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control mb-2" placeholder="Nhập tên ảnh">
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-5 mb-2">
                <button class="btn btn-outline-secondary" @click="upload">
                  Upload
                </button>
              </div>
              <div class="col-md-7">
                <div class="row">
                  <div class="col-8">
                    <div class="image">
                      <img class="w-100 h-100" :src="image" alt="ảnh">
                    </div>
                  </div>
                  <div class="col-4">
                    <button
                        class="btn btn-outline-secondary btn-sm btn-remove"
                    >
                      x
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="slide-box">
        <div class="row row-cols-4" v-if="status">
          <div class="col mb-5" v-for="image in listImage" :key="image.id">
            <div class="image">
              <img :src="image.link" class="w-100 h-100" alt="ảnh">
            </div>
          </div>
        </div>
        <div class="" v-else>
          <VueSlickCarousel v-bind="settings">
            <div><h3>1</h3></div>
          </VueSlickCarousel>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import config from "@/config";
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
export default {
  name: 'App',
  components: [VueSlickCarousel],
  data() {
    return {
      settings: {
        "dots": true,
        "dotsClass": "slick-dots custom-dot-class",
        "edgeFriction": 0.35,
        "infinite": false,
        "speed": 500,
        "slidesToShow": 1,
        "slidesToScroll": 1
      },
      status: Boolean,
      listImage: [
        {
          id: 0,
          link: config.IMG_DEFAULT
        },
        {
          id: 1,
          link: config.IMG_DEFAULT
        },
        {
          id: 2,
          link: config.IMG_DEFAULT
        },
        {
          id: 3,
          link: config.IMG_DEFAULT
        },
        {
          id: 4,
          link: config.IMG_DEFAULT
        },
        {
          id: 5,
          link: config.IMG_DEFAULT
        },
        {
          id: 6,
          link: config.IMG_DEFAULT
        },
        {
          id: 7,
          link: config.IMG_DEFAULT
        },
      ],
      image: config.IMG_DEFAULT
    }
  },
  created() {
    //this.status = true
  },
  methods: {
    upload() {
      let newEl = {
        id: `${this.listImage[this.listImage.length - 1].id + 1}`,
        link: config.IMG_DEFAULT
      }
      if (this.listImage[7].link !== config.IMG_DEFAULT) {
        this.listImage.push(newEl)
      }
    },
    removeAll() {
      this.listImage = [
        {
          id: 0,
          link: config.IMG_DEFAULT
        },
        {
          id: 1,
          link: config.IMG_DEFAULT
        },
        {
          id: 2,
          link: config.IMG_DEFAULT
        },
        {
          id: 3,
          link: config.IMG_DEFAULT
        },
        {
          id: 4,
          link: config.IMG_DEFAULT
        },
        {
          id: 5,
          link: config.IMG_DEFAULT
        },
        {
          id: 6,
          link: config.IMG_DEFAULT
        },
        {
          id: 7,
          link: config.IMG_ERROR
        },
      ]
    },
    showGrid() {
      this.status = true
    },
    showSlide() {
      this.status = false
    },
  }
}
</script>

<style>
@import "assets/SCSS/_app-page.scss";
</style>
